.container{
	margin-left: auto;
	margin-right: auto;
}


.img-fluid{
	width: 100%;
	height: auto;
	display: block;
    margin-left: auto;
    margin-right: auto;
}


.credit{
	font-size: 75%;
	position: absolute;
	text-align: left;
	width: 100%;
	padding-top: 30px;
	color: #7d97ad;
	font-style: italic;
}

.name{
	text-align: right;
	vertical-align: center;
	color: #2d3c49;
	margin-top: 20px;
	padding-top: 20px;
}

#dev_name{
	font-size: 2.5em;
	vertical-align: bottom;
	font-family: 'Work Sans', sans-serif;
	font-weight: 300;
	line-height: 1;
	text-align: right;

}

#title{
	font-size: 1.5em;
	vertical-align: bottom;
	font-family: 'Work Sans', sans-serif;
	font-weight: 500;
	line-height: 1;
	text-align: right;
}

 @media screen and (max-width: 1000px) {
	#dev_name{
		font-size: 2em;
		text-align: right;
	}
	#title{
		font-size: 1.2em;
		text-align: right;
	}
 }

 @media screen and (max-width: 800px) {
	#dev_name{
		font-size: 1.8em;
		text-align: right;
	}
	#title{
		font-size: 1.1em;
		text-align: right;
	}
 }

 @media screen and (max-width: 540px) {
	#dev_name{
		font-size: 1.5em;
		text-align: right;
	}
	#title{
		font-size: 0.9em;
		text-align: right;
	}

 }

 @media screen and (max-width: 429px) {
	#dev_name{
		font-size: 1.2em;
		text-align: right;
	}
	#title{
		font-size: 0.9em;
		text-align: right;
	}
 }

 @media screen and (max-width: 354px) {
	.name{
		margin-top: 0;
		padding-top: 0;
	}
}

.logo{
	text-align: left;
	padding-bottom: 0px;
	vertical-align: bottom;
	max-width: 200px;
	max-height: 200px;
	display:block;
}

hr{
	border-width: 4px;
	border-color:  #7d97ad;
	line-height: 0;
	margin-top: 0;
}

.featured{
	color: #7d97ad;
	padding-top: 1.2em;
	font-family: 'Work Sans', sans-serif;
	font-size: 2.5em;
}

.caption{
	text-align: center;
	color: #2d3c49;
	font-family: 'Work Sans', sans-serif;
	line-height: 0.5em;
}

.picture{
	line-height: 0.5em;
}

